<a href="https://colab.research.google.com/github/TestimonyAdeyemi/Amazon-Sales-Data-Analysis/blob/main/AmazonSalesDataExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%load_ext sql
%sql sqlite://

import numpy as np
import pandas as pd

In [3]:

# Create database tables from CSV files

with open('amazon.csv') as f: sales = pd.read_csv('amazon.csv', encoding='unicode_escape', index_col=0)
%sql drop table if exists sales;
%sql --persist sales

 * sqlite://
Done.
 * sqlite://

'Persisted sales'

In [ ]:
%%sql
select * from sales limit 5

Our daataset contains products, their prices, discount customer reviews and ratings. Here are questions this data can answer:
1. What prodcut category has the highest rating?
2. Average rating of products under 25% discount
3. Average rating of products betwen 25-50% discount
4. Average rating of products with 50-75% discount
5. Average rating of products with 75-90% discount
6. Top 10 products with the highest rating?

In [5]:
#what product category has the highest rating
%%sql
select avg(rating), category
from sales
group by category
order by avg(rating) desc
limit 10

 * sqlite://
Done.

[(4.6, 'Computers&Accessories|Tablets'),
 (4.5, 'OfficeProducts|OfficeElectronics|Calculators|Basic'),
 (4.5, 'HomeImprovement|Electrical|CordManagement'),
 (4.5, 'Home&Kitchen|Kitchen&HomeAppliances|SmallKitchenAppliances|SmallApplianceParts&Accessories'),
 (4.5, 'Home&Kitchen|Kitchen&HomeAppliances|Coffee,Tea&Espresso|CoffeePresses'),
 (4.5, 'Home&Kitchen|CraftMaterials|PaintingMaterials'),
 (4.5, 'Electronics|PowerAccessories|SurgeProtectors'),
 (4.5, 'Electronics|HomeAudio|MediaStreamingDevices|StreamingClients'),
 (4.5, 'Electronics|Cameras&Photography|Accessories|Film'),
 (4.5, 'Computers&Accessories|NetworkingDevices|NetworkAdapters|PowerLANAdapters')]

In [28]:
#what product has the highest rating
%%sql
select rating, product_name
from sales
order by rating desc
limit 10

 * sqlite://
Done.

[('|', 'Eureka Forbes car Vac 100 Watts Powerful Suction Vacuum Cleaner with Washable HEPA Filter, 3 Accessories,Compact,Light Weight & Easy to use (Black and Red)'),
 ('5.0', 'Syncwire LTG to USB Cable for Fast Charging Compatible with Phone 5/ 5C/ 5S/ 6/ 6S/ 7/8/ X/XR/XS Max/ 11/12/ 13 Series and Pad Air/Mini, Pod & Other Devices (1.1 Meter, White)'),
 ('5.0', 'REDTECH USB-C to Lightning Cable 3.3FT, [Apple MFi Certified] Lightning to Type C Fast Charging Cord Compatible with iPhone 14/13/13 pro/Max/12/11/X/XS/XR/8, Supports Power Delivery - White'),
 ('5.0', 'Amazon Basics Wireless Mouse | 2.4 GHz Connection, 1600 DPI | Type - C Adapter | Upto 12 Months of Battery Life | Ambidextrous Design | Suitable for PC/Mac/Laptop'),
 ('4.8', 'Swiffer Instant Electric Water Heater Faucet Tap Home-Kitchen Instantaneous Water Heater Tank less for Tap, LED Electric Head Water Heaters Tail Gallon Comfort(3000W) ((Pack of 1))'),
 ('4.8', 'Oratech Coffee Frother electric, milk frother electric, coffee beater, cappuccino maker, Coffee Foamer, Mocktail Mixer, Coffee Foam Maker, coffee whisker electric, Froth Maker, coffee stirrers electric, coffee frothers, Coffee Blender, (6 Month Warranty) (Multicolour)'),
 ('4.8', 'Instant Pot Air Fryer, Vortex 2QT, Touch Control Panel, 360Â° EvenCrispâ\x84¢ Technology, Uses 95 % less Oil, 4-in-1 Appliance: Air Fry, Roast, Bake, Reheat (Vortex 1.97Litre, Black)'),
 ('4.7', 'Sony Bravia 164 cm (65 inches) 4K Ultra HD Smart LED Google TV KD-65X74K (Black)'),
 ('4.7', 'Spigen EZ Fit Tempered Glass Screen Protector for iPhone 14 Pro Max - 2 Pack (Sensor Protection)'),
 ('4.7', 'FIGMENT Handheld Milk Frother Rechargeable, 3-Speed Electric Frother for Coffee with 2 Whisks and Coffee Decoration Tool, Coffee Frother Mixer, CRESCENT ENTERPRISES VRW0.50BK (A1)')]

In [6]:
%%sql
UPDATE sales
SET discount_percentage = REPLACE(discount_percentage, '%', '')

 * sqlite://
1465 rows affected.

[]

In [10]:
#Average rating of products with no discount

%%sql
SELECT avg(rating), CAST(discount_percentage AS int) AS discount_integer
FROM sales
WHERE CAST(discount_percentage AS int) = 0

 * sqlite://
Done.

[(4.240816326530611, 0)]

In [24]:
#Average rating of products with 1-25% discount

%%sql
SELECT avg(rating), CAST(discount_percentage AS int) AS discount_integer
FROM sales
WHERE CAST(discount_percentage AS int) BETWEEN 1 AND 26;

 * sqlite://
Done.

[(4.136036036036035, 23)]

In [25]:
#Average rating of products with  discount

%%sql
SELECT avg(rating), CAST(discount_percentage AS int) AS discount_integer
FROM sales
WHERE CAST(discount_percentage AS int) BETWEEN 25 AND 51;

 * sqlite://
Done.

[(4.105063291139237, 43)]

In [13]:
%%sql
SELECT avg(rating), CAST(discount_percentage AS int) AS discount_integer
FROM sales
WHERE CAST(discount_percentage AS int) BETWEEN 50 AND 76;

 * sqlite://
Done.

[(4.082861896838594, 64)]

In [23]:
%%sql
SELECT rating, CAST(discount_percentage AS int) AS discount_integer
FROM sales
ORDER BY discount_integer DESC
limit 5;

 * sqlite://
Done.

[('4.3', 94), ('4.2', 91), ('4.2', 91), ('4.2', 91), ('4.2', 91)]

In [26]:
%%sql
SELECT avg(rating), CAST(discount_percentage AS int) AS discount_integer
FROM sales
WHERE CAST(discount_percentage AS int) BETWEEN 75 AND 95;

 * sqlite://
Done.

[(4.006703910614527, 90)]